/* The header should have a height of 400px and be 100% the width of it's parent container
The avatar should be centered vertically and horizontally (Hint: the justify-content and align-items properties are helpful for centering things if you're using Flexbox.)
The name should be centered below the avatar
The background should be a different colour than the nav and the body
The background-image should be a transparent pattern. Feel free to use this tool to assist: https://www.transparenttextures.com/ */


header {
  margin-top: 105px;
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #4056a1;
}

header div {
  display: flex;
  max-height: 250px;
  width: 50%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

header h2 {
  color: white;
  margin: 0 0 0 5;
  font-weight: 300;
}

b {
  font-weight: 600;
}

header img {
  display: flex;
  background-color: inherit;
  background-image: url("https://www.transparenttextures.com/patterns/brilliant.png");

}